<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/Content/Reg/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/Content/Reg/css/style.css">

    <style>

        #confirm {
            display: none;
            background-color: white;
            border: 1px solid #aaa;
            position: fixed;
            width: 450px;
            height: 140px;
            left: 40%;
            margin-left: -100px;
            padding: 6px 8px 8px;
            box-sizing: border-box;
            text-align: center;
            border-radius: 5px;
        }
            #confirm input {
                background-color: #4287f5;
                display: inline-block;
                border-radius: 5px;
                border: 1px solid #aaa;
                padding: 5px;
                text-align: center;
                width: 80px;
                margin-left: 335px;
                margin-top: 45px;
                cursor: pointer;
            }

            #confirm .message {
                text-align: left;
                margin-top: 30px;
                color: blue;
                font-size: 12px;
            }

    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @Scripts.Render("~/Content/Reg/vendor/jquery/jquery.min.js")
    @Scripts.Render("~/Content/Reg/js/Main.js")



    <!-- JS -->
    <script src="~/Content/Reg/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/Reg/js/main.js"></script>

    <script type="text/javascript">

        function functionAlert(msg, myYes) {
            var confirmBox = $("#confirm");
            confirmBox.find(".message").text(msg);
            confirmBox.find(".yes").unbind().click(function () {
                confirmBox.hide();
            });
            confirmBox.find(".yes").click(myYes);
            confirmBox.show();
        }
    </script>

</body>
</html>
